[worldserver]

###################################################################################################
#   FIRST LOGIN REWARDS
###################################################################################################

# Enable the module? (1: true | 0: false)

FirstLogin.Enable = 1

# Announce the module when the player logs in?

FirstLogin.Announce = 1

# Inform when players enter and exit the game

FirstLogin.PlayerAnnounce = 1

# New characters start with BoA items? (1: true | 0: false)

FirstLogin.BoA = 1

# New characters start with additional weapon skills? (1: true | 0: false)

FirstLogin.Skills = 1

# New characters start with special abilities? (1: true | 0: false)

FirstLogin.SpecialAbility = 1

# New characters start with Exalted reputation for main city factions? (1: true | 0: false)

FirstLogin.Reputation = 1
